<hr color='red'>
<h1>Lets Edit <%=@student.name%></h1>
<hr color='red'>
<% if flash[:errors] %>
<h4 style="color :red">
<ol>
  <% flash[:errors].each do |e| %>
  <li><%=e%></li>
  <% end %>
  <ol>
  </h4>
<% end %>
<%= form_for @student do |f| %>
<%= f.label :"Name: "%>
<%= f.text_field :name %>

<%= f.label :"Mod: "%>
<%= f.number_field :mod %>
<%= f.submit %>
<% end %>