<h1>Edit Student: </h1>
<%= form_for @student do |f| %>
<%= f.label :name %><br>
<%= f.text_field :name %><br>

<%= f.label :mod %><br>
<%= f.number_field :mod %><br>

<%= f.submit "Fix Duck" %><br>
<% end %>
