<h1>Create Duck</h1>
<% if flash[:duck_errors] %>
<% flash[:duck_errors].each do |error| %>
<p><%= error %></p>
<% end %>
<% end %>

<%= form_for @duck do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :decription %>
<%= f.text_area :description %>

<%= f.label :student_id %>
<%= f.collection_select :student_id, Student.all, :id, :name %>
<%= f.submit %>
<% end %>
